html, body {
    width: 100;
}

body {
background-color: rgb(47, 97, 70);
color: white;
}
h1{
text-align: center;
font-family: serif;
font-weight: lighter;
font-size: 30px;
background-color: black;
padding: 30px;
}
p{
color:rgb(149, 235, 188)
}
.game-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.game-items{
    padding-right: 50px;
    margin-top: 40px;


}
img{
width: 600px;
height:auto;
}
/* .game-items{
    margin-right: 10px;
    margin-left: 10px; 
    width: 80%
} */
